.layout-cover {
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 26px;
    padding-right: 26px;
      
    .avatar {
        background-color: #ffd500;
    }
}

.content-round-corner {
    border-radius: 25px;
    
}